# Core Framework e Servidor WSGI
Django>=5.0,<6.0
gunicorn>=21.2.0

# Gerenciamento de Configuração de Ambiente (.env)
python-decouple>=3.8

# Driver de Banco de Dados (PostgreSQL)
psycopg2-binary>=2.9.9

# Análise de Dados e Cálculo Vetorial
pandas>=2.2.0
numpy>=1.26.0

# Testes Automatizados
pytest>=8.0.0
pytest-django>=4.8.0