# Core do Framework Web
fastapi>=0.110.0
uvicorn[standard]>=0.27.0

# Validação e Gerenciamento de Configuração (Lê o .env nativamente)
pydantic>=2.6.0
pydantic-settings>=2.2.0

# ORM e Migrações
sqlalchemy>=2.0.0
alembic>=1.13.0

# Drivers de Banco de Dados (PostgreSQL)
asyncpg>=0.29.0      # Driver assíncrono (Alta performance para FastAPI)
psycopg2-binary>=2.9.0 # Driver síncrono (Necessário para o Alembic/Migrações)

# Segurança e Autenticação (Opcional, para JWT)
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4